.ball {
  border: 2px solid;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 6vh;
  margin: 2px;
  outline: none;
  width: 6vh;
}

.colorSection {
  width: 360px;
  background-color: rgba(10, 9, 9, 0.85) ;
  border-radius: 10px;
  padding-top: 5px;
}

.changeGameButtons {
  width: 100px;
  height: 25px;
}

.changeDificult {
  height: 25px;
}

.mainSection {
  min-width: 30vw;
  min-height: 50vh;
  text-align: -webkit-center;
  background: linear-gradient(55deg, rgb(216, 48, 216), purple, rgb(1, 248, 1), green, lightblue, rgb(91, 91, 252), rgb(255, 147, 147), red, gold, yellow);
  background-size: 1600% 600%;
  animation: gradient 5s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  border-radius: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes gradient {
  0% {background-position: 0%;}
  100% {background-position: 100%;}
}
/* animated background href: https://redstapler.co/css-animated-gradient-background/ */

body {
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score  {
  margin: 2%;

}
.rgb-color {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dificult-reset {
  margin-bottom: 20px;
  margin-top: -14px;
}
.title {
  margin-bottom: 10px;
}